<a href="https://colab.research.google.com/github/Svetlana20005/Python/blob/main/%D0%97%D0%B0%D0%B4%D0%B0%D0%BD%D0%B8%D0%B5%D0%A1%D0%BB%D0%BE%D0%B2%D0%B0%D1%80%D0%B8%D0%9C%D0%BD%D0%BE%D0%B6%D0%B5%D1%81%D1%82%D0%B2%D0%B0%D0%9A%D0%BE%D1%80%D1%82%D0%B5%D0%B6%D0%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Dictionary**

1. Подсчет частоты слов: Напишите функцию, которая принимает строку и возвращает словарь, где ключи — это слова, а значения — их частота в строке.

In [ ]:
def frequency_of_words(text):
  words = text.split()
  frequency = {}
  for w in words:
    if w:
      if w in frequency:
        frequency[w] += 1
      else:
        frequency[w] = 1
  return frequency
text = str(input())
result = frequency_of_words(text)
print(result)

fox wolf sea wolf air fox sea wolf sea air
{'fox': 2, 'wolf': 3, 'sea': 3, 'air': 2}

2. Слияние словарей: Напишите функцию, которая принимает два словаря и возвращает новый словарь, содержащий все ключи из обоих словарей. Если ключи совпадают, значения должны быть суммированы.

In [ ]:
def merge_dictionaries(dict1, dict2):
  merged_dict = dict1.copy()
  for key, value in dict2.items():
      if key in merged_dict:
          merged_dict[key] += value
      else:
          merged_dict[key] = value
  return merged_dict

dict_a = {'a': 1, 'w': 2, 'f': 1}
dict_b = {'w': 1, 'f': 3, 'e': 2}

result = merge_dictionaries(dict_a, dict_b)
print(result)

{'a': 1, 'w': 3, 'f': 4, 'e': 2}

3. Максимальное значение: Напишите функцию, которая находит ключ с максимальным значением в словаре.

In [ ]:
def max_value(dict):
  m_v = -1000
  m_k = 'a'
  for key, value in dict.items():
    if value > m_v:
      m_v = value
      m_k = key
  return m_k
dict = {'a': 6, 'd': 5, 's': 9, 'k': 3}
result = max_value(dict)
print(f'Ключ с максимальным значением: {result}')

Ключ с максимальным значением: s

4. Фильтрация по значению: Напишите функцию, которая принимает словарь и пороговое значение, и возвращает новый словарь, содержащий только те пары ключ-значение, где значение больше порогового.

In [ ]:
def filtering(dict, our_val):
  new_dict = {}
  for key in dict:
    if dict[key] > our_val:
      new_dict[key] = dict[key]
  return new_dict
dict = {'q': 6, 'y': 14, 'u': 3, 'a': 12, 'x': 18, 'r': 9}
value = 10
result = filtering(dict, value)
print(result)

{'y': 14, 'a': 12, 'x': 18}

5. Удаление ключей: Напишите функцию, которая принимает словарь и список ключей, и удаляет из словаря все указанные ключи.

In [ ]:
def delete_keys(dict, list_keys):
  for key in list_keys:
    dict.pop(key, None)
  return dict
dict = {'a': 9, 'o': 7, 'd': 5, 'b': 8, 'e': 6}
list_keys = ['a', 'b']
new_dict = delete_keys(dict, list_keys)
print(new_dict)

{'o': 7, 'd': 5, 'e': 6}

6. Группировка по длине ключей: Напишите функцию, которая группирует ключи словаря по их длине и возвращает словарь, где ключи — это длины, а значения — списки ключей соответствующей длины.

In [ ]:
def group(dict):
  group_dict = {}
  for key in dict.keys():
    if len(key) in group_dict:
      group_dict[len(key)].append(key)
    else:
      group_dict[len(key)] = [key]
  return group_dict
dict = {'a': 10, 'ff': 12, 'h': 13, 'kkk': 11, 'q': 15, 'ddd': 14}
result = group(dict)
print(result)

{1: ['a', 'h', 'q'], 2: ['ff'], 3: ['kkk', 'ddd']}

7. Поиск ключей по значению: Напишите функцию, которая принимает словарь и значение, и возвращает список всех ключей, связанных с этим значением.

In [ ]:
def poisk(dict, our_value):
  list = []
  for key, value in dict.items():
    if value == our_value:
      list.append(key)
  return list
dict = {'a': 13, 'b': 12, 'c': 13, 'd': 13, 'k': 17}
result = poisk(dict, 13)
print(result)

['a', 'c', 'd']

8. Уникальные значения: Напишите функцию, которая возвращает множество уникальных значений из словаря.

In [ ]:
def unique(dict):
  list = []
  for value in dict.values():
    list.append(value)
  return set(list)
dict = {'w': 7, 'f': 1, 'u': 7, 'q': 6, 'i': 9, 't': 1}
result = unique(dict)
print(result)

{1, 9, 6, 7}

9. Ключи с четными значениями: Напишите функцию, которая возвращает список ключей, связанных с четными значениями.

In [ ]:
def chet_val(dict):
  list = []
  for key, value in dict.items():
    if value % 2 == 0:
      list.append(key)
  return list
dict = {'a' : 9, 'l': 8, 'r': 2, 'y': 1, 's': 7, 'w': 4, 'z': 3, 'q': 10}
result = chet_val(dict)
print(result)

['l', 'r', 'w', 'q']

10. Пересечение словарей: Напишите функцию, которая принимает два словаря и возвращает новый словарь, содержащий только те пары ключ-значение, которые присутствуют в обоих словарях.

In [ ]:
def cross(dict1, dict2):
  new_dict = {}
  for key in dict1:
    if key in dict2 and dict1[key] == dict2[key]:
      new_dict[key] = dict1[key]
  return new_dict
dict1 = {'b': 12, 'c': 13, 'd': 18, 'k': 17}
dict2 = {'a': 13, 'b': 12, 'c': 13, 'd': 13}
result = cross(dict1, dict2)
print(result)

{'b': 12, 'c': 13}

**Set**

1. Создание множества из списка: Напишите функцию, которая принимает список и возвращает множество, содержащее уникальные элементы списка.

In [ ]:
def set_(list):
  return set(list)
list = [7, 'l', 3, 'ar', 7, '6k', 5, 'ar', '3w', 3]
result = set_(list)
print(result)

{3, 5, 'ar', 7, 'l', '3w', '6k'}

2. Объединение множеств: Напишите функцию, которая принимает два множества и возвращает их объединение.

In [ ]:
def unification(set1, set2):
  for i in set2:
    set1.add(i)
  return set1
set1 = {1, 3 , 5, 8, 9}
set2 = {2, 3, 6, 8, 10}
result = unification(set1, set2)
print(result)

{1, 2, 3, 5, 6, 8, 9, 10}

3. Симметрическая разность: Напишите функцию, которая принимает два множества и возвращает их симметрическую разность.

In [ ]:
def simm_razn(set1, set2):
  new_set = set()
  for i in set1:
    if i not in set2:
      new_set.add(i)
  for i in set2:
    if i not in set1:
      new_set.add(i)
  return new_set
set1 = {1, 3, 5, 6, 8, 9}
set2 = {2, 3, 4, 6, 8, 10}
result = simm_razn(set1, set2)
print(result)

{1, 2, 4, 5, 9, 10}

4. Минимальный элемент: Напишите функцию, которая находит минимальный элемент в множестве.

In [ ]:
def min_set(set):
  min_res = 10000
  for i in set:
    if i < min_res:
      min_res = i
  return min_res
set = {4, 7, -3, 1, 0, -7, 8, -2}
print(min_set(set))

-7

5. Фильтрация по условию: Напишите функцию, которая фильтрует множество, оставляя только те элементы, которые удовлетворяют заданному условию (например, больше 10).

In [ ]:
def filt(set, usl, value):
  if usl == '>':
    return {i for i in set if i > value}
  else:
    return {i for i in set if i < value}
our_set = {3, 19, 8, 12, 6, 11, 15, 7, 5, 13}
set1 = filt(our_set, '>', 10)
set2 = filt(our_set, '<', 10)
print(set1)
print(set2)

{11, 12, 13, 15, 19}
{3, 5, 6, 7, 8}

6. Генерация множества: Напишите функцию, которая генерирует множество из n случайных чисел в заданном диапазоне.

In [ ]:
import random
def generation(n, a, b):
  res = set()
  while len(res) < n:
    res.add(random.randint(a, b))
  return res
random_set= generation(10, 5, 25)
print(random_set)

{10, 11, 12, 13, 17, 19, 20, 21, 23, 25}

7. Максимальный элемент: Напишите функцию, которая находит максимальный элемент в множестве.

In [ ]:
def max_set(set):
  max_res = -10000
  for i in set:
    if i > max_res:
      max_res = i
  return max_res
set = {4, 7, 3, 1, 0, 11, 7, 8, -2, 9}
print(max_set(set))

11

8. Проверка подмножества: Напишите функцию, которая проверяет, является ли одно множество подмножеством другого.

In [ ]:
def podmn(set1, set2):
  for i in set1:
    if i not in set2:
      return False
  return True
our_set = {2, 6, 7, 4, 8, 10, 3, 8}
our_podmn_set = {4, 7, 10}
print(podmn(our_podmn_set, our_set))

True

9. Удаление элементов: Напишите функцию, которая удаляет из множества все элементы, присутствующие в списке.

In [ ]:
def del_elem(input_set, input_list):
  for i in input_list:
    if i in input_set:
      input_set.remove(i)
  return input_set
our_set = {8, 9, 3, 1, 0, 11, 2, 5}
our_list = [5, 3, 0, 11]
print(del_elem(our_set, our_list))

{1, 2, 8, 9}

10. Проверка на пустоту: Напишите функцию, которая проверяет, является ли множество пустым.

In [ ]:
def empty(input_set):
  return len(input_set) == 0
set1 = {1, 2, 3}
set2 = {}
print(set1, empty(set1))
print(set2, empty(set2))

{1, 2, 3} False
{} True

**Tuple**

1. Создание кортежа из списка: Напишите функцию, которая принимает список и возвращает кортеж, содержащий те же элементы.

In [ ]:
def new_tuple(list):
  return tuple(list)
my_list = [9, 0, 4, 'a', 'f', 2]
print(new_tuple(my_list))

(9, 0, 4, 'a', 'f', 2)

2. Индекс первого вхождения: Напишите функцию, которая находит индекс первого вхождения заданного элемента в кортеже.

In [ ]:
def find_first(tup, elem):
  return tup.index(elem)
my_tuple = (12, 5, 7, 8, 91, 54, 23, 1)
print(find_first(my_tuple, 23))

6

3. Количество вхождений элемента: Напишите функцию, которая подсчитывает, сколько раз заданный элемент встречается в кортеже.

In [ ]:
def count_element(tup, elem):
  count = 0
  for item in tup:
        if item == elem:
            count += 1
  return count
my_tuple = (12, 5, 45, 3, 12, 7, 12, 34, 59, 9, 9)
print(count_element(my_tuple, 12))

3

4. Сортировка кортежа: Напишите функцию, которая возвращает отсортированный список на основе элементов кортежа.

In [ ]:
def sort_tuple(tup, reverse=False):
  return sorted(tup)
my_tuple = (12, 4, 6, 8, 9, 3, 2, 1, 0, 4, 7, 8, 11)
print(sort_tuple(my_tuple))

[0, 1, 2, 3, 4, 4, 6, 7, 8, 8, 9, 11, 12]

5. Срез кортежа: Напишите функцию, которая возвращает срез кортежа от заданного начального индекса до конечного.

In [ ]:
def get_slice(tup, start, stop):
  return tup[start:stop]
my_tuple = (12, 4, 6, 8, 9, 3, 2, 1, 0, 4, 7, 8, 11)
print(get_slice(my_tuple, 3, 7))

(8, 9, 3, 2)

6. Уникальные элементы: Напишите функцию, которая возвращает множество уникальных элементов кортежа.

In [ ]:
def get_unique_elements(tup):
  return set(tup)
my_tuple = (23, 65, 76, 45, 23, 45, 76, 81, 98, 71, 67, 45, 12, 23)
print(get_unique_elements(my_tuple))

{65, 98, 67, 71, 76, 45, 12, 81, 23}

7. Сумма элементов: Напишите функцию, которая вычисляет сумму всех числовых элементов в кортеже.

In [ ]:
def sum_elements(tup):
  sum = 0
  for i in tup:
    sum += i
  return sum
my_tuple = (12, 34, 5, 6, 3, 1, 7, 0, 9)
print(sum_elements(my_tuple))

77

8. Произведение элементов: Напишите функцию, которая вычисляет произведение всех числовых элементов в кортеже.

In [2]:
def mult_elements(tup):
  mult = 1
  for i in tup:
    mult = mult * i
  return mult
my_tuple = (11, 4, 2, 6, 6, 1, 7, 8)
print(mult_elements(my_tuple))

177408

9. Вложенные кортежи: Напишите функцию, которая создает вложенный кортеж, где первый уровень — это буквы алфавита, а второй уровень — числа от 1 до 5.

In [3]:
import string

def create_nested_tuple():
  letters = string.ascii_lowercase
  nested_tuple = tuple((letter, tuple(range(1, 6))) for letter in letters)
  return nested_tuple
result = create_nested_tuple()
print(result)

(('a', (1, 2, 3, 4, 5)), ('b', (1, 2, 3, 4, 5)), ('c', (1, 2, 3, 4, 5)), ('d', (1, 2, 3, 4, 5)), ('e', (1, 2, 3, 4, 5)), ('f', (1, 2, 3, 4, 5)), ('g', (1, 2, 3, 4, 5)), ('h', (1, 2, 3, 4, 5)), ('i', (1, 2, 3, 4, 5)), ('j', (1, 2, 3, 4, 5)), ('k', (1, 2, 3, 4, 5)), ('l', (1, 2, 3, 4, 5)), ('m', (1, 2, 3, 4, 5)), ('n', (1, 2, 3, 4, 5)), ('o', (1, 2, 3, 4, 5)), ('p', (1, 2, 3, 4, 5)), ('q', (1, 2, 3, 4, 5)), ('r', (1, 2, 3, 4, 5)), ('s', (1, 2, 3, 4, 5)), ('t', (1, 2, 3, 4, 5)), ('u', (1, 2, 3, 4, 5)), ('v', (1, 2, 3, 4, 5)), ('w', (1, 2, 3, 4, 5)), ('x', (1, 2, 3, 4, 5)), ('y', (1, 2, 3, 4, 5)), ('z', (1, 2, 3, 4, 5)))

10. Кортеж с четными числами: Напишите функцию, которая создает кортеж, содержащий только четные числа из заданного диапазона.

In [5]:
def create_chet_numbers_tuple(start, end):
  if start % 2 != 0:
      start += 1
  chet_numbers = tuple(range(start, end, 2))
  return chet_numbers

result = create_chet_numbers_tuple(5, 27)
print(result)

(6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26)